@import "~antd/dist/antd.css";

.RoleCreate-Component {
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .trigger:hover {
        color: #1890ff;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }

    .ant-layout {
        min-height: 810px;

        .ant-layout {
            .ant-layout-content {
                background-color: rgb(246, 246, 246);
                margin: 0 !important;

                .site-layout-background {
                    display: flex;
                    justify-content: space-between;

                    .left-title {
                        h2 {
                            font-family: "Nunito";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 30px;
                            color: #7e7d88;

                            .fa-angle-right {
                                font-size: 12px;
                            }
                            span {
                                color: #ff7506;
                            }
                        }
                    }
                    .right-mini-profile {
                        display: flex;
                        width: 23%;

                        .person-notification {
                            display: flex;
                            .ant-avatar {
                                min-width: 40px;
                                min-height: 40px;
                                margin: 0 8px 0 24px;
                            }

                            .hello-title {
                                margin-top: -2px;
                                p {
                                    font-family: "Nunito";
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #7e7d88;
                                    margin-bottom: 0;
                                }

                                h2 {
                                    font-family: "Nunito";
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #535261;
                                }
                            }
                        }
                    }
                }

                h2.Title-Number {
                    margin: 0 0 32px 24px;
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    color: #ff7506;
                }

                .number-details {
                    background-color: #ffffff;
                    width: 96.13%;
                    height: 65.926%;
                    margin-left: 24px;
                    padding: 16px 24px 40px 24px;
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;

                    h2.titleS {
                        font-family: "Nunito";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        color: #ff7506;
                    }
                    .role-information {
                        height: 88%;
                        form.ant-form {
                            height: 100%;
                            display: flex;

                            .left-form {
                                width: 100%;

                                .role-code {
                                    margin-bottom: 12px;
                                }
                                .role-name {
                                    margin-bottom: 16px;
                                }

                                .ant-form-item {
                                    .ant-form-item-control {
                                        max-width: 560px;
                                        .ant-form-item-control-input {
                                            .ant-form-item-control-input-content {
                                                label {
                                                    margin-bottom: 8px;
                                                    font-family: "Nunito";
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    line-height: 24px;
                                                    color: #282739;
                                                }
                                                input {
                                                    padding: 9.5px 12px;
                                                    background: #ffffff;
                                                    border: 1.5px solid #d4d4d7;
                                                    box-sizing: border-box;
                                                    border-radius: 8px;

                                                    &::placeholder {
                                                        font-family: "Nunito";
                                                        font-style: normal;
                                                        font-weight: 400;
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        color: #a9a9b0;
                                                    }
                                                }
                                                textarea.ant-input {
                                                    padding: 10px 12px;
                                                    height: 100%;
                                                    min-height: 160px;
                                                    background: #ffffff;
                                                    border: 1.5px solid #d4d4d7;
                                                    box-sizing: border-box;
                                                    border-radius: 8px;

                                                    &::placeholder {
                                                        font-family: "Nunito";
                                                        font-style: normal;
                                                        font-weight: 400;
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        color: #a9a9b0;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .ant-form-item-label {
                                        text-align: left;
                                        margin-top: 14px;
                                        label {
                                            font-family: "Nunito";
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 14px;
                                            line-height: 21px;
                                            color: #7e7d88;

                                            &::after {
                                                content: "";
                                            }
                                        }
                                    }
                                }

                                .description-role {
                                    .ant-form-item-control {
                                        max-height: 160px;
                                        .ant-form-item-control-input {
                                            .ant-form-item-control-input-content {
                                                height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                            .right-form {
                                width: 100%;
                                max-width: 560px;

                                .roles {
                                    margin-bottom: 0px;
                                    .ant-form-item-label {
                                        text-align: left;
                                        overflow: inherit;
                                        label {
                                            font-family: "Nunito";
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #282739;

                                            &::before {
                                                content: "";
                                            }

                                            &::after {
                                                display: inline-block;
                                                margin-right: 4px;
                                                color: #ff4d4f;
                                                font-size: 14px;
                                                font-family: SimSun, sans-serif;
                                                line-height: 1;
                                                content: "*";
                                            }
                                        }
                                    }
                                }

                                .functional-group {
                                    width: 100%;
                                    height: 100%;
                                    padding: 16px 24px;
                                    background: #fff2e7;
                                    border-radius: 8px;
                                    overflow: auto;
                                    max-height: 420px;

                                    h2 {
                                        font-family: "Nunito";
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 20px;
                                        line-height: 30px;
                                        color: #ff7506;
                                        margin-bottom: 10px;
                                        &.not-first {
                                            margin-top: 15px;
                                        }
                                    }

                                    .ant-form-item {
                                        margin-bottom: 6px;
                                        .ant-form-item-control {
                                            .ant-form-item-control-input {
                                                .ant-form-item-control-input-content {
                                                    label {
                                                        display: flex;
                                                        align-items: center;
                                                        span.ant-checkbox {
                                                            top: 0;
                                                            input[type="checkbox"] {
                                                                width: 20px;
                                                                height: 20px;
                                                            }

                                                            .ant-checkbox-inner {
                                                                width: 20px;
                                                                height: 20px;
                                                            }
                                                        }
                                                        font-family: "Nunito";
                                                        font-style: normal;
                                                        font-weight: 600;
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        color: #535261;
                                                    }
                                                    .ant-checkbox-wrapper {
                                                        margin-left: 0;
                                                        margin-bottom: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &::-webkit-scrollbar {
                                        width: 3px;
                                        border-radius: 2px;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        background: #ffc89b;
                                    }

                                    &::-webkit-scrollbar-track {
                                        background: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
                .submit-button {
                    width: 100%;
                    margin-top: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        max-width: 147px;
                        height: 48px;
                        box-shadow: 0px 0px 6px #e7e9f2;
                        border-radius: 8px;
                        padding: 10px 24px;
                        font-family: "Nunito";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;

                        &.destroy-button {
                            width: 100%;
                            background: #fff2e7;
                            border-color: #ff9138;
                            color: #ff9138;
                            margin-right: 16px;
                        }

                        &.continue-button {
                            width: 100%;
                            background: #ff9138;
                            color: #ffffff;
                            margin-left: 16px;
                        }
                    }
                }
                @media (max-width: 1000px) {
                    .site-layout-background {
                        min-height: 44px !important;
                        padding: 8px 24px !important;
                        .left-title {
                            display: flex;
                            align-items: center;
                            h2 {
                                margin-bottom: 0;
                                font-family: "Nunito";
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                color: #7e7d88;

                                .fa-angle-right {
                                    font-size: 8px;
                                }
                                span {
                                    color: #ff7506;
                                }
                            }
                        }
                        .right-mini-profile {
                            width: 40%;
                            justify-content: flex-end;
                            .icon-notification {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                    h2.Title-Number {
                        display: none;
                    }
                    .number-details {
                        width: 100%;
                        margin-left: 0;
                        height: auto;
                        flex-direction: column;
                        border: 12px solid rgb(246, 246, 246);
                        padding: 16px 24px 16px 24px;
                        .role-information {
                            .ant-form {
                                .left-form {
                                    padding-right: 4px;
                                }
                                .right-form {
                                    padding-left: 4px;
                                }
                                .once-form {
                                    .final {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    .submit-button {
                        margin-top: 0;
                        button {
                            height: 40px;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}
